/* this code refers to the html footer element. It colours it grey. If you want to change the color, change the `background-color`, and place whatever color code you want there. */
footer { 
    display: block;
    background-color: #f1f1f1; 
}

/* this styles the header. Once again, change the `background-color` to change it to the color you want. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

ul li {
    display: inline-block;
}

li a {
     display: block;
     color: #000;
     padding: 8px 16px;
     text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
      background-color: #555;
      color: white;
}
